/* .hero {
    background-size: cover;
    border-bottom: 5px solid lightblue;
    border-top: 5px solid #316B83;
} */

.maincontent .hero img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 5px solid #316B83;
}

.content {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
}

.content .penulis {
    font-size: 12px;
    margin-top: -5px;
}

.content .penulis a {
    color: #316B83;
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

@media screen and (max-width:760px) {
    .maincontent .hero img {
        width: 90%;
    }
}